<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %> Products</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <ul>
        <% for(let product of foundProducts){ %>
            <li><a href="/products/<%= product.id %>"><%= product.name %></a> - $<%= product.price %></li>
        <%}%>
    </ul>
    <a href="/products/new">Add A Product</a>
    <% if(category !== 'All'){ %>
        <a href="/products">Back to All Products</a>
    <% } %>
</body>
</html>